<%= render 'layouts/errors', :object => @message %>

<%= form_for @message do |f| %>
  <div class="form-group">
    <%= f.collection_check_boxes :contact_ids, Contact.all, :id, :name %>
    <%= f.label :from %>
    <%= f.text_field :from %>
    <%= f.label :body %>
    <%= f.text_field :body %>
  </div>
    <%= f.submit(:class => "btn btn-primary") %>
<% end %>
